<template>
  <v-footer
    color="deep-purple accent-4"
    dense
    dark
  >
    <v-card
      flat
      tile
      color="deep-purple accent-4"
      dense
      dark
      class="lighten-1 white--text text-center"
    >
      <v-card-text>
        <v-btn
          v-for="icon in icons"
          :key="icon"
          class="mx-4 white--text"
          icon
        >
          <v-icon size="24px">
            {{ icon }}
          </v-icon>
        </v-btn>
      </v-card-text>

      <v-card-text class="white--text pt-0 text-justify" dir="rtl">
        سی ام اس اختصاصی جهت انجام پروژه های درون شرکتی و مدیریت منابع و نیرو ها. دسترسی سریع و راحت تر به تسک ها و وظایف مربوط به هر کارمند، مدیریت راحت تر توسط ادمین پنل. امکان ثبت تسک ها همراه با وضعیت و گزارشات آنها توسط کاربران و گزارش گیری و ایجاد تسک و وظایف جدید توسط ادمین.
      </v-card-text>

      <v-divider></v-divider>

      <v-card-text class="white--text">
        {{ new Date().getFullYear() }} — <strong>SevenDark</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  name: 'FooterComponent',
  data: () => ({
    icons: [
      'mdi-facebook',
      'mdi-twitter',
      'mdi-linkedin',
      'mdi-instagram'
    ]
  })
}
</script>

<style scoped>

</style>
