<template>
  <v-row>
    <v-col :cols="12">
      <HeaderComponent />
    </v-col>
    <v-col :cols="12">
      <SidebarComponent>
        <slot />
      </SidebarComponent>
    </v-col>
    <v-col :cols="12">
      <FooterComponent />
    </v-col>
  </v-row>
</template>

<script>
import HeaderComponent from '@/components/HeaderComponent'
import SidebarComponent from '@/components/SidebarComponent'
import FooterComponent from '@/components/FooterComponent'
export default {
  name: 'MasterComponent',
  components: { FooterComponent, SidebarComponent, HeaderComponent }
}
</script>

<style scoped>

</style>
