<template>
  <v-card
    color="deep-purple accent-4"
    height="100%"
  >
    <v-card
      color="deep-dark accent-4"
      dense
      dark
      class="mx-auto my-12 text-center"
      max-width="374"
    >
      <template slot="progress">
        <v-progress-linear
          color="deep-purple"
          height="10"
          indeterminate
        ></v-progress-linear>
      </template>

      <v-img
        height="250"
        src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
      ></v-img>

      <v-card-title class="justify-center">ورود به حساب</v-card-title>
      <form>
        <v-row justify="center">
          <v-col :cols="10" :md="7">
            <v-text-field
              v-model="username"
              :error-messages="usernameErrors"
              :counter="15"
              label="Username"
              required
              @input="$v.username.$touch()"
              @blur="$v.username.$touch()"
            ></v-text-field>
          </v-col>
          <v-col :cols="10" :md="7">
            <v-text-field
              v-model="password"
              :error-messages="passwordErrors"
              :counter="20"
              label="Password"
              required
              @input="$v.password.$touch()"
              @blur="$v.password.$touch()"
            ></v-text-field>
          </v-col>
          <v-col :cols="10" :md="7">
            <v-select
              v-model="select"
              :items="items"
              :error-messages="selectErrors"
              label="Level"
              required
              @change="$v.select.$touch()"
              @blur="$v.select.$touch()"
            ></v-select>
          </v-col>
          <v-col class="text-center" :cols="10" :md="7">
            <router-link class="text-decoration-none" style="color: #fff" :to="{name: 'register'}">حساب ندارید؟ ثبت نام کنید</router-link>
            <v-row justify="center" class="my-5">
              <v-btn
                class="mr-5"
                @click="submit"
              >
                ورود
              </v-btn>
              <v-btn
                class="ml-5"
                @click="clear">
                انصراف
              </v-btn>
            </v-row>
          </v-col>
        </v-row>

      </form>
    </v-card>
  </v-card>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, maxLength, minLength } from 'vuelidate/lib/validators'
export default {
  name: 'LoginView',
  mixins: [validationMixin],

  validations: {
    username: { required, minLength: minLength(5), maxLength: maxLength(15) },
    password: { required, minLength: minLength(8), maxLength: maxLength(20) },
    select: { required }
  },

  data: () => ({
    username: '',
    password: '',
    select: null,
    items: [
      'Admin',
      'Employee'
    ]
  }),
  computed: {
    selectErrors () {
      const errors = []
      if (!this.$v.select.$dirty) return errors
      !this.$v.select.required && errors.push('سطح دسترسی الزامی است')
      return errors
    },
    usernameErrors () {
      const errors = []
      if (!this.$v.username.$dirty) return errors
      !this.$v.username.maxLength && errors.push('نام کاربری باید کمتر از 15 کاراکتر باشد')
      !this.$v.username.minLength && errors.push('نام کاربری باید بیشتر از 5 کاراکتر باشد')
      !this.$v.username.required && errors.push('نام کاربری الزامی است')
      return errors
    },
    passwordErrors () {
      const errors = []
      if (!this.$v.password.$dirty) return errors
      !this.$v.password.maxLength && errors.push('رمز عبور باید کمتر از 20 کاراکتر باشد')
      !this.$v.password.minLength && errors.push('رمز عبور باید بیشتر از 8 کاراکتر باشد')
      !this.$v.password.required && errors.push('رمز عبور الزامی است')
      return errors
    }
  },
  methods: {
    submit () {
      this.$v.$touch()
    },
    clear () {
      this.$v.$reset()
      this.username = ''
      this.password = ''
      this.select = null
    }
  }
}
</script>

<style scoped>

</style>
